/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header h2{
    color: #1d1919e5;
    font-size: 25px;
    margin-left: 150px;
    margin-top: 90px;
}

/* -------------------------------
     Influencer-Section styles 
-------------------------------- */

.influencer{
    width: 80%;
    display: flex;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.influencer-detail{
    width: 50%;
    padding-right: 50px;
}
.influencer-detail-text h1{
    font-size: 50px;
    color: #1d1919e5;
}
.influencer-view{
    width: 50%;
    padding-left: 50px;
}
.influencer-view:hover img{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}
.preebook-button{
    color: #FFFFFF;
    background-color: #0c7988f6;
    width: 150px;
    border-radius: 20px;
    padding: 5px 15px;
    margin-top: 30px;
}
.preebook-button a{
    text-decoration: none;
    color: #FFFFFF;
}
.preebook-button i{
    padding-left: 10px;
}

/* ----------------------------------
      Container-Section styles 
   --------------------------------*/

.container{
    width: 75%;
    padding-bottom: 100px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}
.section-title{
    color: #1d1919e5;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    padding-right: 50px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 60px;
}
.item{
    width: 300px;
    height: 500px;
    padding: 15px;
    box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px #0000002c;
    border-radius: 10px; 
}
.item-detail h2{
    color: #000000cc;
}
.item-detail .price{
    font-size: 25px;
    color: #1d1919e5;
    margin-top: 0;
}
.item-info .star .fa-star{
    color: #f8b703;

}
.item-info .star span{
    padding-left: 10px;
    color: #221e1e93;
    font-weight: 700;
}
.item-desc{
    width: 310px;
    color: #221e1e93;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.see-more a{
    text-decoration: none;
    color: #0c7988f6;
    padding-right: 8px;
}
.see-more {
    color: #0c7988f6;
    padding-top: 50px;
    text-align: right;
    padding-right: 48px;
    font-weight: 700;
}

/* ---------------------------------
         Footer-Section styles 
-----------------------------------*/

footer{
    height: 250px;
    background-color: #221d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h2{
    margin-top: 50px;
    color: #f0fff0e1;
}
footer p{
    margin-top: 0;
    margin-bottom: 0;
    color: #f5deb3b9;
}
.footer-icon i{
    font-size: 25px;
    padding-right: 15px;
    margin-top: 30px;
    color:#f0fff0e1;
}

/* -------------------------
       Media Queries 
--------------------------- */

@media only screen and (max-width:688px) {
    header h2{
        margin: 0;
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 40px;
    }
    .influencer-detail{
        padding-left: 10px;
    }
    .influencer{
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
    .influencer-view{
        padding-top: 30px;
    }
    .container{
        margin-left: 0;
    }
    .section-title{
        text-align: left;
        padding-left: 10px;
    }
    .items{
        margin: 0;
        padding-left: 10px;
        grid-template-columns: repeat(1, 1fr);
        justify-content: left;
    }
}
@media only screen and (min-width:689px) and (max-width:992px) {

    header h2{
        margin: 0;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .influencer{
        width: 100%;
        margin: 0;
        padding-left: 20px;
    }
    .influencer-detail{
        width: 40%;
        padding-right: 0;
    }
    .influencer-view{
        width: 40%;
        padding-left: 0;
    }
    .container{
        margin-left: 0;
        padding-left: 20px;
    }
    .section-title{
        text-align: left;
    }
    .items{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

}